/* CSS for PlotWatt sample file Visualizer - by Afshin Mokhtari */

/* 
**  General html styles 
*/
    body {
        background: url( ../img/ridge.gif ) repeat; 
        /* font: 10px sans-serif; */
        shape-rendering: crispEdges;
    }


    header {
        background: #eee;
    }

    a:link, a:visited {
        color : rgb(86,0,38);
        text-decoration: none;
    }

    a:hover {
        color: rgb(252,78,42);
    }

    .ctr { text-align: center; }


/*
** Bar Chart styles
*/

    #stackedBarChart {          /* the Stacked Bar Chart section */
      background: #999;
        text-align: center;

    }

    #stackedBarChart svg {
      font: 10px sans-serif;
      font-color: white;
    }



/* 
** Calendar Heat chart 
*/
    .CHChart {
        padding-bottom: 30px;
        text-align: center;
    }

    .day {
        fill: #fff;
        stroke: #ccc;
    }

    .month {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }


    /* Colors for Calendar Heat Charts */
    .RdYlGn .q0-11{ fill:rgb(255,255,204) }
    .RdYlGn .q1-11{ fill:rgb(255,237,160) }
    .RdYlGn .q2-11{ fill:rgb(254,217,118) }
    .RdYlGn .q3-11{ fill:rgb(254,178,76) }
    .RdYlGn .q4-11{ fill:rgb(253,141,60) }
    .RdYlGn .q5-11{ fill:rgb(252,78,42) }
    .RdYlGn .q6-11{ fill:rgb(227,26,28) }
    .RdYlGn .q7-11{ fill:rgb(189,0,38) }
    .RdYlGn .q8-11{ fill:rgb(128,0,38) }
    .RdYlGn .q9-11{ fill:rgb(86,0,38) }
    .RdYlGn .q10-11{ fill:rgb(41,2,12) }


/*
**  twitter bootstrap specific 
*/

    .container {      /* disable responsive featurs of bootstrap 3 */
      max-width: none !important; 
      width: 1024px; /* 970px; */
    }



    .accordion-inner {          /* All accordion inner areas */
      -webkit-box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, .3);
      box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, .3);  

      -webkit-border-radius: 7px;
        border-radius: 7px;
    }


    #logContent {                   /* the log section  - accordion twitter widget content div */
    	background: #999;
    	height: 300px;
    	overflow: auto;            /* add scroll bars */
    }

    .panel {
      background-color: #ddd ;
    }

    .panel-heading { 
      background-color: #ddd !important; 
    }

    .panel a {
        outline:none;
    }


    .log-stats {                /* The message log counter added to Daily Totals accordion */
        display: block;
        float:right;
        width: 40px;
        padding-top:5px;
    }


/*
** to top button, see utils.js for implementation
*/
    .back-to-top {
        position: fixed;
        bottom: 2em;
        right: 0px;
        text-decoration: none;
        color: #000000;
        background-color: rgba(235, 235, 235, 0.80);
        font-size: 12px;
        padding: 1em;
        display: none;
    }

    .back-to-top:hover {    
        background-color: rgba(135, 135, 135, 0.50);
    }